%nav.navbar.navbar-default.navbar.navbar-fixed-top{:role => :navigation}
  .container-fluid
    .navbar-header
      %a.navbar-brand
        Fieldtrip.it
    - if employee_signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li
          %a= current_employee.email
        %li= link_to('Sign Out', destroy_employee_session_path, :method => :delete)



.container
  Hello, world!