%h2 Welcome back #{current_employee.name}!
.well
  - if !@field_trips.empty?
    %p
      Here are your upcomming field trips:
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Date
            %th Status
        %tbody
        - @field_trips.each do |field_trip|
          %tr
            %td= link_to(field_trip.name, new_field_trip_path)
            %td= field_trip.start_time
            %td
              Don't know what to do
  -else
    %h4.text-center No fieldtrips planned yet
